
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 24.3rem;
}.group-15-txA {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  padding: 1.7rem 2rem 2rem 2rem;
  width: 100%;
  border-radius: 0.5rem;

  .property-1default-RhC {
    margin-bottom: 2.3rem;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 400;
    height: 4.7rem;
    text-align: center;
    color: #000000;
    font-family: Space Mono, 'Source Sans Pro';
    flex-shrink: 0;
    padding: 0 5.7rem;
    width: 100%;
    line-height: 1.48;
    background-color: #f5f5f1;
    border-radius: 1rem;
    font-size: 2.4rem;
    white-space: nowrap;
  }
  .property-1variant2-6HY {
    background-color: rgba(154, 88, 51, 0.5500000119);
    padding: 0rem 5.05rem 0rem 4.95rem;
    height: 4.7rem;
    font-weight: 700;
    line-height: 1.48;
    font-family: Space Mono, 'Source Sans Pro';
    width: 100%;
    text-align: center;
    color: #ffffff;
    border-radius: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 2.8rem;
    white-space: nowrap;
  }
}
