html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 151.2rem;
}

.home-zVY {
  width: 100%;
  height: 77.5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.home-zVY .group-4-jxv {
  width: 100%;
  height: 77.4rem;
  position: relative;
  background-color: rgba(255, 215, 171, 0.7300000191);
  border-radius: 2.5rem;
}
.home-zVY .group-4-jxv .rectangle-46-fbg {
  width: 106.1rem;
  height: 71.8rem;
  position: absolute;
  left: 42.9rem;
  top: 2.4rem;
  background-color: #ffffff;
  border-radius: 0 2rem 2rem 0;
}
.home-zVY .group-4-jxv .rectangle-14-Bpv {
  width: 41rem;
  height: 72.6rem;
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  background-color: rgba(154, 88, 51, 0.8299999833);
  border-radius: 5rem 0 0 5rem;
}
.home-zVY .group-4-jxv .group-11-WcJ {
  top: 29.5983rem;
  border-radius: 2.5rem;
  width: 38.3512rem;
  height: 44.0033rem;
  position: absolute;
  left: 3.8588rem;
}
.home-zVY .group-4-jxv .group-11-WcJ .rectangle-14-qea {
  border-radius: 2.5rem;
  width: 100%;
  height: 44.0033rem;
  background-color: #f5f5f1;
}
.home-zVY .group-4-jxv .rectangle-23-z1g {
  background-color: rgba(154, 88, 51, 0.8299999833);
  border-radius: 2.5rem;
  width: 32.3rem;
  height: 19.8rem;
  position: absolute;
  left: 98.9rem;
  top: 24.7rem;
}
.home-zVY .group-4-jxv .rectangle-25-uPY {
  top: 49.6rem;
  background-color: rgba(154, 88, 51, 0.8299999833);
  border-radius: 2.5rem;
  width: 32.3rem;
  height: 19.8rem;
  position: absolute;
  left: 54.7rem;
}
.home-zVY .group-4-jxv .rectangle-24-2j4 {
  width: 32.3rem;
  height: 19.8rem;
  position: absolute;
  left: 98.9rem;
  top: 49.6rem;
  background-color: rgba(154, 88, 51, 0.8299999833);
  border-radius: 2.5rem;
}
.home-zVY .group-4-jxv .image-5-NH8 {
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  border-radius: 5rem 0 0 0;
  width: 41rem;
  height: 20rem;
}
.home-zVY .group-4-jxv .usuario-1-uH4 {
  line-height: 1.2775;
  color: #f5f5f1;
  font-family: Space Grotesk, "Source Sans Pro";
  white-space: nowrap;
  position: absolute;
  top: 3.5rem;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  width: 28.7rem;
  height: 8rem;
  left: 14.1rem;
}
.home-zVY .group-4-jxv .group-7-otE {
  line-height: 1.48;
  color: #000000;
  white-space: nowrap;
  border-radius: 1rem;
  width: 18.9787rem;
  height: 4.0732rem;
  position: absolute;
  text-align: center;
  font-size: 2.4rem;
  top: 15.8rem;
  align-items: center;
  justify-content: center;
  left: 19.4rem;
  font-weight: 400;
  font-family: Space Mono, "Source Sans Pro";
  display: flex;
  background-color: #f5f5f1;
}
.home-zVY .group-4-jxv .rectangle-14-Txn {
  background-color: #f5f5f1;
  border-radius: 1rem;
  width: 20.1rem;
  height: 3.3rem;
  position: absolute;
  left: 3.8rem;
  top: 24.7rem;
}
.home-zVY .group-4-jxv .cargar-base-datos-zC2 {
  height: 2.7rem;
  position: absolute;
  left: 4.4rem;
  font-size: 1.8rem;
  color: #000000;
  font-family: Space Mono, "Source Sans Pro";
  width: 18.8rem;
  top: 25rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.48;
  white-space: nowrap;
}
.home-zVY .group-4-jxv .group-9-h6S {
  position: absolute;
  left: 26.2rem;
  top: 24.3rem;
  border-radius: 1rem;
  width: 15.9862rem;
  height: 3.7217rem;
}
.home-zVY .group-4-jxv .group-9-h6S .rectangle-14-SJv {
  border-radius: 1rem;
  width: 15.9862rem;
  height: 3.3683rem;
  position: absolute;
  left: 0;
  top: 0.3533rem;
  background-color: #f5f5f1;
}
.home-zVY .group-4-jxv .group-9-h6S .inicio-aR8 {
  color: #000000;
  font-family: Space Mono, "Source Sans Pro";
  width: 8.9rem;
  position: absolute;
  left: 3.25rem;
  top: 0;
  text-align: center;
  height: 3.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.48;
  white-space: nowrap;
}
.home-zVY .group-4-jxv .jcanar89gmailcom-5Mt {
  white-space: nowrap;
  position: absolute;
  left: 16.7rem;
  font-weight: 700;
  line-height: 1.2775;
  font-size: 2.4rem;
  color: #f5f5f1;
  font-family: Space Grotesk, "Source Sans Pro";
  width: 24.5rem;
  height: 3.1rem;
  top: 11.4rem;
  text-align: center;
}
.home-zVY .group-4-jxv .historial-de-facturas-BA2 {
  color: #f5f5f1;
  font-family: Space Grotesk, "Source Sans Pro";
  white-space: nowrap;
  position: absolute;
  top: 39rem;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.2775;
  width: 30.8rem;
  height: 4rem;
  left: 99.65rem;
  text-align: center;
}
.home-zVY .group-4-jxv .cargar-usuarios-gMg {
  position: absolute;
  top: 64rem;
  font-size: 3.2rem;
  line-height: 1.2775;
  color: #f5f5f1;
  font-family: Space Grotesk, "Source Sans Pro";
  width: 24.5rem;
  height: 4.1rem;
  left: 102.75rem;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
}
.home-zVY .group-4-jxv .group-3-C58 {
  box-sizing: border-box;
  height: 9.3167rem;
  top: 6.3rem;
  background-repeat: no-repeat;
  padding: 1.394rem 1.077rem 0.887rem 1.077rem;
  width: 9.317rem;
  position: absolute;
  left: 4.5rem;
  background-size: cover;
  background-position: center;
  background-image: url("REPLACE_IMAGE:108:26");
}
.home-zVY .group-4-jxv .group-3-C58 .chico-1-6gJ {
  height: 7.035rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 7.162rem;
}
.home-zVY .group-4-jxv .rectangle-17-psC {
  width: 68.7rem;
  height: 10.9rem;
  position: absolute;
  left: 59.7rem;
  top: 4.3rem;
  background-color: rgba(216, 145, 101, 0.8199999928);
  border-radius: 2.5rem;
}
.home-zVY .group-4-jxv .image-6-9ea {
  width: 13.1rem;
  height: 12.8rem;
  position: absolute;
  left: 45.6rem;
  top: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}
.home-zVY .group-4-jxv .libros-1-642 {
  left: 113.4787rem;
  top: 3.0817rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 13.6702rem;
  height: 12.5218rem;
  position: absolute;
}
.home-zVY .group-4-jxv .usuario-1-R6J {
  font-weight: 700;
  line-height: 1.2775;
  color: #f5f5f1;
  width: 29.6rem;
  position: absolute;
  top: 5.3rem;
  text-align: center;
  font-size: 6.4rem;
  font-family: Space Grotesk, "Source Sans Pro";
  white-space: nowrap;
  height: 8.2rem;
  left: 96.7rem;
}
.home-zVY .group-4-jxv .bienvenido-a-Jvn {
  font-weight: 400;
  line-height: 1.48;
  font-style: italic;
  font-family: Space Mono, "Source Sans Pro";
  top: 5.7rem;
  text-align: center;
  font-size: 4.5rem;
  color: #f5f5f1;
  width: 33.1rem;
  height: 6.7rem;
  position: absolute;
  left: 62.1rem;
  white-space: nowrap;
}
.home-zVY .group-4-jxv .recopilacion-de-datos-1-QU2 {
  left: 108.9rem;
  top: 26rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 12.3rem;
  height: 12.3rem;
  position: absolute;
}
.home-zVY .group-4-jxv .agregar-usuario-8Q2 {
  white-space: nowrap;
  width: 24.9rem;
  height: 4.1rem;
  left: 58.35rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.2775;
  color: #f5f5f1;
  position: absolute;
  top: 64.6rem;
  font-size: 3.2rem;
  font-family: Space Grotesk, "Source Sans Pro";
}
.home-zVY .group-4-jxv .agregar-usuario-1-dra {
  position: absolute;
  left: 64.5rem;
  top: 51.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 12.7rem;
  height: 11rem;
}
.home-zVY .group-4-jxv .grupo-de-chat-1-mSz {
  height: 10rem;
  position: absolute;
  left: 105.9rem;
  top: 52.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 18.3rem;
}
.home-zVY .group-4-jxv .group-17-Jhp {
  cursor: pointer;
  position: absolute;
  left: 54.7rem;
  top: 26.2rem;
  width: 32.3rem;
  height: 19.8rem;
}
.home-zVY .group-4-jxv .group-17-Jhp .group-17-default-3vJ {
  box-sizing: border-box;
  padding: 1.501rem 5.168rem 1.261rem 4.932rem;
  width: 100%;
  flex-direction: column;
  border-radius: 2.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  background-color: rgba(154, 88, 51, 0.8299999833);
}
.home-zVY .group-4-jxv .group-17-Jhp .group-17-default-3vJ .facturas-de-papel-1-Azv {
  margin: 0rem 0rem 0.214rem 0.315rem;
  width: 12.211rem;
  height: 12.7235rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-zVY .group-4-jxv .group-17-Jhp .group-17-default-3vJ .nueva-factura-HZk {
  color: #f5f5f1;
  font-family: Space Grotesk, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2775;
}
.home-zVY .group-4-jxv .configuraciones-3-bKY {
  position: absolute;
  left: 131.2rem;
  top: 6.9rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 4.7rem;
  height: 4.7rem;
}
.home-zVY .group-4-jxv .activo-3-XDC {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: 138.5rem;
  top: 7.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}/*# sourceMappingURL=home.css.map */